.container {
    width: min (100% 1440px);
    margin: auto;
    padding-top: 139px;

}

/* header */
header {
    height: 139px;
    background-color: #372D23;
    position: fixed;
    max-width: 1440px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 13;
    top: 0px;
}

.header_ul {
    display: flex;
    column-gap: 48px;
}

.nav_text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FCC21B;
}

.active {
    color: #ED6C30;
}

.shop_icon {
    font-size: 48px;
    color: #ED6C30;
}

.nav_text:hover {
    text-decoration: 2px solid #ED6C30 underline;
}

.active:hover {
    text-decoration: 2px solid #FCC21B underline;
}

.a_shop_icon:hover {
    transform: scale(1.5);
}

/* section1 */
.section1 {
    height: 640px;
    position: relative;
    z-index: 0;
}

.article_h2 {
    /* top: 216px;
    left: 339px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 762px;
    height: 208px;
    border-radius: 10px;
    border: white solid 3px;
    background-color: #FCC21B;
    box-shadow: 10px 10px 4px 0px #00000080 inset;


}

.text_article {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    padding: 76px 40px 76px 60px;
    color: white;
    width: 682px;
    text-shadow: 6px 2px 4px  #372D23 ;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2 {
    width: 1200px;
    display: flex;
    margin: 100px auto;
    column-gap: 100px;
    /* flex-direction: column; */
    /* align-items: center; */
    z-index: 0;


}

.section2_img {
    width: 550px;
    height: 400px;
    object-fit: cover;
}

.section2_h3 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #372D23;
    /* flex-direction: column; */
    width: 371px;
    height: 48px;
}

.section2_p {
    width: 550px;
    height: 140px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #C65C14;
    flex-direction: column;
    margin-top: 40px;
    display: flex;
}

/* footer */
footer {
    background-color: #372D23;
    padding: 32px 80px;
    z-index: 0;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FCC21B;
}

.footer_nav_social {
    width: 200px;
    height: 32px;
    column-gap: 8px;
    
}

.social_class {
    display: flex;
    column-gap: 8px;
   
}

.social_link {
    width: 32px;
    height: 32px;
   
}

.social {
    font-size: 32px;
    width: 100%;
    height: 100%;
    color: #FCC21B;
   
}